hr {
    margin: 0;
}

.rodape {
    padding: 1em;
    background-color: var(--branco);
}

.rodape__titulo {
    margin-left: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }

    .lista-rodape {
        display: block;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape__titulo {
        color: var(--cinza);
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 0.5em;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .rodape__links {
        text-decoration: none;
        color: var(--cinza);
        font-size: 14px;
        margin-left: 0.6em;
    }

    .lista-rodape__item:hover {
        border: 2px solid var(--azul);
        border-radius: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 4em 9vw;
    }

    .lista-rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    
}